{% extends "base.html" %}

{% block title %}Hotel Reef - Catalogo De Habitaciones{% endblock title %}

{% block head %}
<style>
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        min-height: 100vh;
    }

    .card {
        display: flex;
        background: var(--bg-primary, #FFF);
        color: var(--text-color-primary);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
        padding: 0;
        min-width: 320px;

        & img {
            width: 100%;
            aspect-ratio: 2 / 1.5;
        }

        & .card-body {
            padding: 1em;
            display: flex;
            gap: 1em;
        }
    }

    .card-list-ctn {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 1.5em;
    }
</style>
{% endblock head %}

{% block content %}
<main class="background-bg">
    <div class="glass-container">
        <h1 class="title">Catalogo De Habitaciones</h1>

        {% if object_list %}
            <form method="get" action="{% url 'rooms:catalogue' %}">
                <label for="room_type">Filter by Room Type:</label>
                <select name="room_type_slug" id="room_type">
                    <option value="all">All</option>
                    {% for room_type in room_types %}
                        <option value="{{ room_type.name }}" {% if room_type.name == request.GET.room_type_slug %} selected {% endif %}>{{ room_type.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Apply Filter</button>
            </form>

            <div class="card-list-ctn">
            {% for room in object_list %}
                <div class="card">
                    <img alt="{{ room.description }}" src="https://picsum.photos/200" />
                    <div class="card-body">
                        <div>
                            <h1> {{ room.name }} </h1>
                            <h2>$ {{ room.price }} </h2>
                        </div>
                        <a role="button" class="btn-primary" href="{% url 'reservations:checkout' room.id %}">Reservar Habitacion</a>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <h1>Can't find any room</h1>
        {% endif %}
    </div>
</main>
{% endblock content %}
