{% extends "base.html" %}

{% block title %}Hotel Reef - Catalogo De Habitaciones{% endblock title %}

{% block content %}
<main class="background-bg">
    <div class="glass-container">
        {% include 'navbar.html' with title='Catalogo De Habitaciones' showlogout='true' %}

        {% if page_obj %}
            <form id="filter-form" class="my-3" method="GET" action="{% url 'rooms:catalogue' %}">
                {% for field in filter_form %}
                    <div class="input-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn-primary">Aplicar Filtro</button>
            </form>

            <div class="card-list-ctn">
                {% for room in page_obj %}
                    <div class="card">
                        <img alt="{{ room.description }}" src="https://picsum.photos/200" />
                        <div class="card-body">
                            <div class="d-flex col info g-1">
                                <h1>{{ room.name }}</h1>
                                <h2>${{ room.price }}</h2>
                            </div>
                            <a role="button" class="btn-primary mt-2" href="{% url 'reservations:checkout' room.id %}">Reservar Habitacion</a>
                            <a role="button" class="btn-secondary" href="{% url 'rooms:details' room.id %}">Mostrar Detalles</a>
                        </div>
                    </div>
                {% endfor %}

                <div class="pagination mt-2">
                    <ul>
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            <a class="pagination-link" href="?page=1">1</a>
                        {% endif %}

                        <span class="active">{{ page_obj.number }}</span>

                        {% if page_obj.has_next %}
                            <a class="pagination-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% else %}
            <h1>Can't find any room</h1>
        {% endif %}
    </div>
</main>
{% endblock content %}

{% block head %}
<style>
    #filter-form {
        display: flex;
        padding-left: 2em;
        gap: 1em;
        justify-content: center;
        align-items: end;

        width: 100%;

        & .input-group {
            align-items: center;
        }
    }

    .card {
        display: flex;
        background: var(--bg-primary, #FFF);
        color: var(--text-color-primary);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
        padding: 0;
        min-width: 320px;

        .btn-secondary { color: inherit; }

        & img {
            width: 100%;
            aspect-ratio: 2 / 1.5;
        }

        & .card-body {
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 1em;

        }

        & .info {
            & h2 {
                opacity: 0.6;
            }
        }

        & :is(a, button) {
            padding: 1.5em 4em;
        }
    }

    .card-list-ctn {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        gap: 1.5em;

        width: 100%;
    }
</style>
{% endblock head %}
