{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %} {%trans "Hotel Reef - Employee Registration" %}{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/employe.css' %}">
{% endblock head %}

{% block content %}
<main class="background-bg">
    <div class="employe-container">
        <div class="tab-nav">

                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 24 24"><path fill="currentColor" d="M17.51 3.87L15.73 2.1L5.84 12l9.9 9.9l1.77-1.77L9.38 12z"/></svg>
                </span>
            </a>
            <h1>{%trans "Employee Registration" %}</h1>
        </div>
        <form class="p-5" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <small class="error">{{ field.errors|striptags  }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" value="Registrarse">
        </form>
    </div>

</main>
{% endblock content %}
