{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/employee-edit.css' %}">
{% endblock head %}

{% block content %}
<main class="background-bg">
    <div class="employe-container">
        <h1 class="Edit-tittle">{%trans "Edit Employee" %}</h1>
        <form method="post" class="Edit-box">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-primary">{%trans "Save Changes" %} </button>
        </form>
    </div>
</main>
{% endblock %}
