{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/employee-edit.css' %}">
{% endblock head %}

{% block content %}
<main class="background-bg">
    <div class="employe-container">
        {% if object_list %}
            <h1 class="tittle-edit">{%trans "Employee List" %}</h1>
            <ul>
            {% for employee in object_list %}
                <li ><a href="{% url 'users:employee_edit' employee.rut %}" class="list-edit">{{ employee.user.first_name }} {{ employee.user.last_name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <h1>{%trans  "No employees in the DB" %}</h1>
        {% endif %}
    </div>
</main>
{% endblock content %}