{% extends "base.html" %}
{% load static %}

{% block title %}Hotel Reef - Vista Admin{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/vistaadmin.css' %}">
{% endblock head %}

{% block content %}
<main class="container background-bg">
  <div class="row justify-content-center align-items-center min-vh-100">
      <div class="glass-container row justify-content-center align-items-center col-lg-8">
          <div class="admin-container">
            <h2 class="bienvenido">Bienvenid@</h2>
              <div class="row row-cols-1 row-cols-md-2 g-4">
                  <div class="col-md-6">
                      <a href="login.html" class="card-link">
                          <div class="card card-nuevo-usuario">
                              <div class="card-body">
                                  <h5 class="card-title">Nuevo Usuario</h5>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-6">
                      <a href="login.html" class="card-link">
                          <div class="card card-editar-usuario">
                              <div class="card-body">
                                  <h5 class="card-title">Editar Usuario</h5>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="row row-cols-1 row-cols-md-2 g-4">
                  <div class="col-md-6">
                      <a href="login.html" class="card-link">
                          <div class="card card-modificar-reserva">
                              <div class="card-body">
                                  <h5 class="card-title">Modificar Reserva</h5>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-6">
                      <a href="login.html" class="card-link">
                          <div class="card card-catalogo-habitaciones">
                              <div class="card-body">
                                  <h5 class="card-title">Catálogo de Habitaciones</h5>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
{% endblock content %}

