{% extends "base.html" %}

{% block title %}Hotel Reef - Catalogo De Habitaciones{% endblock title %}

{% block content %}
<main class="background-bg">
    <div class="glass-container">
        {% include 'navbar.html' with title='Administrar Catalogo De Habitaciones' backurl='/admin-panel' %}

        {% if object_list %}
            <div class="d-flex col justify-content-center align-items-center w-100 my-3">
                <form id="filter-form" method="GET" action="{% url 'rooms:catalogue' %}">
                    {% for field in filter_form %}
                        <div class="input-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn-primary">Aplicar Filtro</button>
                </form>

                <div class="d-flex justify-content-center align-items-center g-2 w-100 col mt-2">
                    <div class="mb-1 d-flex justify-content-start align-items-center row w-100">
                        <h2 class="w-100 mt-2 mb-1">Lista De Habitaciones</h2>
                        <a role="button" class="btn-primary" href="{% url 'rooms:create' %}">Nueva Habitacion</a>
                    </div>

                    <div class="card-list-ctn" role="list">
                        {% for room in object_list %}
                            <div class="card" role="listitem">
                                <img alt="{{ room.description }}" src="https://picsum.photos/200" />
                                <div class="card-body">
                                    <div class="d-flex col info g-1">
                                        <h1>{{ room.name }}</h1>
                                        <h2>${{ room.price }}</h2>
                                    </div>
                                    <a role="button" class="btn-primary mt-2" href="{% url 'rooms:edit' room.id %}">Editar</a>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="pagination mt-2">
                            <ul>
                                {% if page_obj.has_previous %}
                                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                    <a class="pagination-link" href="?page=1">1</a>
                                {% endif %}

                                <span class="active">{{ page_obj.number }}</span>

                                {% if page_obj.has_next %}
                                    <a class="pagination-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        {% else %}
            <h1>No Se Encontro Ninguna Habitacion</h1>
        {% endif %}
    </div>
</main>
{% endblock content %}

{% block head %}
<style>
    #filter-form {
        display: flex;
        padding-left: 2em;
        gap: 1em;
        justify-content: center;
        align-items: end;

        width: 100%;

        & .input-group {
            align-items: center;
        }
    }

    .card {
        display: flex;
        background: var(--bg-primary, #FFF);
        color: var(--text-color-primary);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
        padding: 0;

        min-width: 320px;

        & img {
            width: 100%;
            aspect-ratio: 2 / 1.5;
        }

        & .card-body {
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 1em;

        }

        & .info {
            & h2 {
                opacity: 0.6;
            }
        }

        & :is(a, button) {
            padding: 1.5em 4em;
        }
    }

    .card-list-ctn {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        gap: 1.5em;
    }
</style>
{% endblock head %}
