{% extends "base.html" %}

{% block title %}Hotel Reef - Editar Habitacion{% endblock title %}

{% block content %}
<main class="background-bg">
    <div class="glass-container">
        {% include 'navbar.html' with title='Editar Habitacion' backurl='/rooms' %}

        <div class="mt-3 d-flex col justify-content-center align-items-center w-100 min-h-60vh">
            <form method="POST" >
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-field">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                    <small class="error">{{ field.errors|striptags  }}</small>
                            {% endif %}
                    </div>
                {% endfor %}

                <div class="mt-2 d-flex row flex-wrap g-1 justify-content-space-between align-items-center w-100">
                    <a role="button" href="{% url 'rooms:delete' room.id %}" class="btn-secondary">Eliminar</a>
                    <button type="submit" class="btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock content %}

{% block head %}
<style>
    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        gap: 1em;

        width: 80%;

        & input { width: 100%; }
    }

    .form-field {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        gap: 0.45em;
    }
</style>
{% endblock head %}
