{% load i18n %}
<nav class="nav">
    <div class="d-flex g-2 row align-items-center justify-content-center">
        {% if backurl %}
            <a href="{{ backurl }}" aria-label="Go Back" title="Go Back">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="3em" height="3em" viewBox="0 0 24 24"><path fill="currentColor" d="M17.51 3.87L15.73 2.1L5.84 12l9.9 9.9l1.77-1.77L9.38 12z"/></svg>
                </span>
            </a>
        {% endif %}
        <h1>{% blocktrans %}{{ title }}{% endblocktrans %}</h1>
    </div>

    <div class="d-flex justify-content-center align-items-center g-2 row flex-wrap">
        <form class="d-flex row g-1" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <noscript>
                <button type="submit" class="btn-secondary">{% trans 'Switch Language' %}</button>
            </noscript>

            <input type="hidden" name="next" value="{{ request.path }}">
            <select name="language" onchange="this.form.submit()">
                {% for lang_code, lang_name in LANGUAGES %}
                    <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                        {{ lang_name }}
                    </option>
                {% endfor %}
            </select>
        </form>

        {% if showlogout %}
            <form action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn-primary">{% trans 'Log Out' %}</button>
            </form>
        {% endif %}
    </div>
</nav>
