{% extends "base.html" %}

{% block title %}Hotel Reef - Checkout{% endblock title %}

{% block head %}
<style>
    .reservation-checkout-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--bg-2);
        padding: 2rem;
        border: 0;
        gap: 2em;

        height: 75vh;
        width: 90vw;
    }

    .form-field {
        display: flex;
        flex-direction: column;
        gap: 0.45em;
    }
</style>
{% endblock head %}

{% block content %}
<main class="background-bg">
    <div class="glass-container">
        {% include 'navbar.html' with title='Crear Reserva' backurl='/rooms' %}

        <form method="post" action="{{ url }}" class="reservation-checkout-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    {{ field.label_tag }}
                    <div>
                        {{ field }}
                        {% if field.errors %}
                            <small class="error">{{ field.errors|striptags  }}</small>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <h2>Total: <b id="total">${{ room.price }}</b></h2>

            <button type="submit" class="btn-primary">Ir A Pagar</button>
        </form>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const daysOfStayField = document.querySelector('#{{form.days_of_stay.id_for_label}}');
        const roomPrice = parseFloat('{{room.price}}');

        // Function to calculate total price
        function calculateTotalPrice() {
            const daysOfStay = parseInt(daysOfStayField.value);
            if (isNaN(daysOfStay) || daysOfStay <= 1) {
                return;
            }

            const totalPrice = daysOfStay * roomPrice
            document.querySelector('#total').innerHTML = totalPrice;
        }

        // Add event listeners to fields for triggering calculation
        daysOfStayField.addEventListener('input', calculateTotalPrice);
    });
</script>
{% endblock content %}
