{% extends "base.html" %}

{% block title %}Hotel Reef - Payment Status{% endblock title %}

{% block content %}
<main class="background-bg">
    <div class="glass-container">
        <div class="d-flex justify-content-space-around align-items-center g-1 col min-h-80vh">
            <h1 class="text-align-center">Estado Del Pago: {{ pay_status }}</h1>
            <a href="{% url 'rooms:catalogue' %}" class="btn-primary">Volver A Pagina Principal</a>
        </div>
    </div>
</main>
{% endblock content %}
