{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Hotel Reef - Edit Reservation" %}{% endblock title %}

{% block content %}
<main class="background-bg">
    <div class="glass-container">
        {% trans "Create New Reservation" as title %}
        {% include 'navbar.html' with title=title backurl='/reservations' %}

        <div class="mt-3 d-flex col justify-content-center align-items-center w-100 min-h-60vh">
            <form method="post" >
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                    <small class="error">{{ field.errors|striptags  }}</small>
                            {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn-primary">{% trans "Save Changes" %}</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}

{% block head %}
<style>
    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        gap: 2em;

        width: 95%;
    }

    .input-group:not(:has(input[type=checkbox])) {
        display: flex;
        flex-direction: column;
        flex: 1 1 45%;
        gap: 0.45em;

        & :is(input, select) {
            min-width: 100%;
        }
    }
</style>
{% endblock head %}
