{% extends "base.html" %}

{% block title %}Hotel Reef - Lista de reservaciones{% endblock title %}

{% block head %}
<style>
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        min-height: 100vh;
    }

    .card {
        display: flex;
        background: var(--bg-primary, #FFF);
        color: var(--text-color-primary);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
        padding: 0;
        min-width: 320px;

        & .card-body {
            padding: 1em;
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
    }

    .card-list-ctn {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 1.5em;
    }

    .title {
        display: flex;
        color: var(--title-color, #FFF);
        width: 100vw;
        padding-left: 5vw;
        margin-bottom: 5vw;
    }
</style>
{% endblock head %}

{% block content %}
<main class="background-bg">
    <div class="glass-container">
        <h1 class="title">Reservaciones</h1>

        {% if object_list %}
            <div class="card-list-ctn">
            {% for reservation in object_list %}
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h1>{{ reservation.start_date }}</h1>
                            <h2>{{ reservation.room.name }}</h2>
                        </div>
                        <div class="d-flex row g-1">
                            <a role="button" class="btn-primary" href="#">Editar</a>
                            <a role="button" class="btn-primary" href="#">Eliminar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <h1>Can't find any reservation</h1>
        {% endif %}
    </div>
</main>
{% endblock content %}
