{% extends "base.html" %}

{% block title %}Hotel Reef Login{% endblock title %}

{% block content %}
<main class="container background-bg">
    <div class="login-container">
        <form class="d-flex col g-1 align-items-center" method="POST">
            <img src="/static/logo.svg" width="200" alt="Logo de hotel reef, representado por 4 estrellas doradas y corales">
            {% csrf_token %}
            <h1 class="text-align-center my-1">ACCESO</h1>

            {% for field in form %}
                <div class="input-group fmt-upper">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <small class="error">{{ field.errors|striptags }}</small>
                    {% endif %}
                </div>
            {% endfor %}

            {% if messages %}
            <div class="d-flex" aria-label="Lista de mensajes de errores">
                {% for message in messages %}
                <p class="error">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <div class="d-flex col g-2 mt-3">
                <button type="submit" class="btn-primary">Iniciar Sesion</button>
                <a href="{% url 'users:signin' %}" class="btn-secondary">Registrarse</a>
            </div>
        </form>
    </div>
</main>
{% endblock content %}
