{% extends "base.html" %}

{% block title %}Hotel Reef - Registro{% endblock title %}

{% block content %}
<main class="background-bg">
    <div class="glass-container">
        {% include 'navbar.html' with title='Registro' backurl='/login' %}

        <form class="mt-2" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <small class="error">{{ field.errors|striptags  }}</small>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn-primary">Registrarse</button>
        </form>
    </div>
</main>
{% endblock content %}

{% block head %}
<style>
    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2em;

        width: 80%;
        min-height: 70vh;

        & label {
            font-weight: bold;
        }

        & input {
            width: 100%;
            padding: 0.5em;
        }

        & button {
            margin-top: 3em;
            width: 100%;
        }
    }

    .form-field {
        flex: 1 1 40%;
        display: flex;
        flex-direction: column;
        gap: 0.45em;
    }
</style>
{% endblock head %}
