{% extends "base.html" %}

{% block title %}Hotel Reef - Payment Status{% endblock title %}

{% block head %}
<style>
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        min-height: 100vh;
    }
</style>
{% endblock head %}

{% block content %}
<main class="container">
        <div class="">
                <h1 class="text-align-center">Status: {{ pay_status }}</h1>
                <a class="link-btn btn-primary" href="/">Volver A La Tienda</a>
        </div>
</main>
{% endblock content %}
